

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(background.jpg);
  background-size: cover;

}

h1 {color: white;
	font-size: 500%;
	font-weight: bold;
	text-align:center;

}

.MainTitle {
	width: 800px;
	margin: 180px;
	margin-left: auto;
	margin-right: auto;
    border: 25px solid #4caf50;
    padding: 25px, 25px;
   
}

.btn-primary {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color: #4caf50;


}
.btn-primary:hover {background-color: #3A7113;}